@model WebApp.Models.TraceTable.DescTraceTableViewModel

<div style="margin-top: 50px" class="row">
    <div class="col-md-6">
        <form asp-action="Check" asp-controller="RestoreData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SourceCode" class="control-label"></label>
                <textarea style="height: 500px" asp-for="SourceCode" class="form-control"></textarea>
                <span asp-validation-for="SourceCode" class="text-danger"></span>
            </div>

            <table>
                <thead>
                    @foreach (var variable in Model.Variables)
                    {
                    <td><input value="@variable" readonly/></td>
                }
                    </thead>
                    <tbody>
                        @foreach (var r in Model.Row)
                        {
                        <td><input value="@r" readonly/></td>
                    }
                        </tbody>
                    </table>

                    <div class="form-group">
                        <input type="submit" value="Проверить" class="btn btn-default" />
                    </div>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Номер отправки
                            </th>
                            <th>
                                Статус
                            </th>
                            <th>
                                Время отправки
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Submissions.Count; i++)
                        {
                            var item = Model.Submissions[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>
                                    @Html.DisplayFor(x => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SendTime)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>